<div>
  <div>
    <p><span>◆</span>お問い合わせ先<span>◆</span></p>
    <p>E-mail: <%= jihoEmail %></p>
    <p>TEL: <%= jihoTel %>（受付時間：平日10時～18時）</p>
  </div>
  <hr>
  <div>
    <p>一般社団法人 医学薬学ナレッジ </p>
    <p>〒101-0064 東京都千代田区神田猿楽町1-5-15 猿楽町SSビル </p>
    <p>URL: <%= jihoStdUrl %></p>
  </div>
  <hr>
</div>