<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Completed</title>
</head>
<body>
   <div>
     <p>STUDY LINKのパスワード再設定の要望がありましたのでご案内いたします。 </p>
   </div>
   <div>
      <p>以下のURLよりアクセスし、パスワードの再設定を行ってください。 </p>
   </div>
   <div>
      <p>▼パスワード再設定はこちらへ </p>
      <a a href="<%= confirmLink %>" target="_blank"><%= confirmLink %></a>
   </div>
  <div>
    <p>ID、パスワードは大切に保管いただきますようお願いいたします。 </p>
    <p>何卒よろしくお願い申し上げます。  </p>
  </div>
  <div>
      <p>【ご注意】 </p>
      <p>このメールはSTUDY LINKのWebサイトでお手続きいただいている方に自動でお送りしています。お心当たりのない場合、また上記内容に相違がある場合等のお問い合わせにつきましては下記までご連絡ください。なお、このメールに返信いただいてもお答えできませんので、あらかじめご了承ください。 </p>
  </div>
  <br>
  <%- include('footer'); -%>
</body>
</html>