<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>auth</title>
    <style>
      body {
        font-size: 18px;
      }
      header {
        margin-bottom: 10px;
      }

      footer {
        margin-top: 10px;
      }

      .pw {
        padding: 8px 12px;
        width: '700px';
        position: relative;
        left: 300px;
        font-weight: bold;
        font-size: 30px;
      }
    </style>
  </head>
  <body>
    <header>Gửi bạn,</header>
    <span
      >Chúng tôi nhận được 1 yêu cầu đăng kí tài khoản mới trên trang sansan từ
      email của bạn. Mật khẩu của bạn là:
    </span>
    <div class="pw">123456</div>
    <span>Nếu bạn không đăng kí tài khoản có thể bỏ qua thông báo này.</span>
    <strong>Nghiêm cấm đưa mật khẩu này cho bất kì ai.</strong>
    <footer>Trân trọng!</footer>
  </body>
</html>
